$colorTitle: #c095e4;
.decision {
  &__control {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
  }
  &__wheel {
    padding: 15px 0px;
    text-align: center;
  }
  &__res {
    flex: 1 1 100%;
    height: 22px;
    padding: 3px;
    border: 1px #000 solid;
    border-radius: 10px;
    text-align: center;
    color: $colorTitle;
  }
}
