.option {
  padding: 5px 3px;
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  border: 1px #000000 solid;
  border-radius: 10px;
  background-color: #d6e6ff;
  &__id {
    align-content: center;
  }
}
